@keyframes fadetxt{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
body {
    scroll-behavior: smooth;
    margin-top: 0;
    font-size: calc(1em + 1vw);
    font-family: 'Roboto', sans-serif;
}
.titulo_album{
   font-size: 1em;
   text-align: center; 
   animation-name:fadetxt;
    animation-duration: 3s;
}
.descricao_album{
    font-size: 0.8em;
    margin-left:12%;
    margin-right:12%;
    text-align: center;
    text-align: justify;
    animation-name:fadetxt;
    animation-duration: 5s;
}