body {
    scroll-behavior: smooth;
    margin-top: 0;
    font-size: calc(1em + 1vw);
    font-family: 'Roboto', sans-serif;
}

.header {
    height: auto;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* position: fixed; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: white;
}

.header h1 {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    font-size: 1.2em;
}

.header a {
    margin-top: 0.5em;
    font-size: 0.7em;
    text-decoration: none;
    color: black;
    transition: transform .2s;
}

.header a:hover {
    transform: scale(1.2);
}
.grids {
    width:100%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grids a{
    font-size: 0.8em;
    margin-right: 0.8em;
    margin-left: 0.8em;
    text-decoration: none;
}
.grids p{
    margin-top: -0.1em;
}
.fotos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.albuns {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.albuns:hover {
    opacity: 0.4;
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    transition: transform .2s;
}

.footer p,
a {
    float: left;
    font-size: 1em;
    color: black;
    transition: transform .2s;
}

.footer p,
a:hover {
    transform: scale(1.2);
}

.footer img {
    float: left;
    margin-left: 1em;
    margin-top: 1.2em;
    width: 1em;
    height: 1em;
    transition: transform .2s;
}

.footer img:hover {
    transform: scale(1.2);
    height: 1em;
}

.seletor_tema {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.seletor_tema p {
    font-size: 0.8em;
    margin-right: 0.5em;
}

.seletor_tema img{
    width: 0.8em;
    height: 0.8em;
    margin-top: 0.85em;
}