@keyframes fade{
    0%{
        opacity: 0.0;
    }
    100%{
        opacity:1;
    }
}
@keyframes image{
    0%{
        margin-left:-200px;
        width:5%;
        height:20px;
        opacity:0;
    }
    100%{
        margin-left:5px;
        width:30%;
        height:200px;
        object-fit: cover;
        opacity:1;
    }
}
body{
    scroll-behavior: smooth;
    margin:0 auto;
    padding:0 auto;
}
.header{
    margin-top: 0;
    margin-left:1%;
    width:98%;
    height:75px; 
    background-color: white;
}
.titulo{
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float:left;
    margin-left:2%;
    animation-name: fade;
    animation-duration: 2s;
}
.titulo a{
    color:black;
    text-decoration: none;
}
.navlinks{
    margin-top:2.8%;
    margin-right:3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float:right;
    animation-name: fade;
    animation-duration: 3s;
}
.navlinks a{
    color:black;
    text-decoration: none;
    margin-left:50px;
}
.sobre_titulo{
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:1%;
    position: relative;
    text-align: center;
    animation-name: fade;
    animation-duration: 4s;
}
.fotos{
    margin-top:1%;
    margin-left:7%;
}
.fotos img{
    margin-left:5px;
    width:30%;
    height:200px;
    object-fit: cover;
    animation-name: image;
    animation-duration: 2s;
    transition: transform .4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fotos img:hover{
    transform: scale(1.5); 
    align-self: center;
}
.footer{
    margin-top: 5%;
    margin-left:45%;
    width:10%;
    height:75px;
}
.footer img{
    float:left;
    width: 25px;
    height: 25px;
}
.footer p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:40px;
    color:black;
}
.footer a{
    text-decoration: none;
}
.insta{
    transition: transform .4s;
}
.insta:hover{
    transform: scale(1.5); 
}