body{
    scroll-behavior: smooth;
    margin: 0px;
    font-size: calc(1em + 1vw);
    font-family: 'Roboto', sans-serif;
}
.fotos{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fotos img{
    width:300px;
    height:300px;
    object-fit: cover;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer h3{
    text-align: center;
}
.footer p{
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    text-align: justify;
}